.header{
    height : 70px;
    margin-bottom: 4em;
}
.btn{
    margin : 0px 5px;
}
.add-button-box{
    padding: 10px 30px;
    position: relative;
    height: 80px;
    display: block;
}
.btn-show-graph{
    width: 160px;
    height: 50px;
    font-size: 23px;
    position: absolute;
    right: 16%;
    top: 0;
}
.btn-add{
    width: 150px;
    height: 50px;
    font-size: 23px;
    position: absolute;
    right: 4%;
    top: 0;
}
.btn-row{
    display: flex;
    justify-content: center;
}
.pagination{
    display: flex;
    justify-content: center;
}

.form-search{
    height: 50px;
    position: absolute;
    top: 0;
}
.search-input{
    width: 320px !important;
    height: 100%;
}
.btn-search{
    height: 100%;
}