*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    position : relative;
}

.header-title{
    margin-left: 20px;
    font-size: 31px;
    font-weight: 600; 
}